<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chuangxian.dao.AttachmentMapper" >
  <resultMap id="BaseResultMap" type="com.chuangxian.entity.Attachment" >
    <id column="attachment_id" property="attachmentId" jdbcType="INTEGER" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_url" property="fileUrl" jdbcType="VARCHAR" />
    <result column="policy_id" property="policyId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    attachment_id, file_name, file_url, policy_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from attachment
    where attachment_id = #{attachmentId,jdbcType=INTEGER}
  </select>
  <select id="selectByPolicyId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from attachment
    where policy_id = #{policyId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from attachment
    where attachment_id = #{attachmentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chuangxian.entity.Attachment" >
    insert into attachment (attachment_id, file_name, file_url, 
      policy_id)
    values (#{attachmentId,jdbcType=INTEGER}, #{fileName,jdbcType=VARCHAR}, #{fileUrl,jdbcType=VARCHAR}, 
      #{policyId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.chuangxian.entity.Attachment" >
    insert into attachment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="attachmentId != null" >
        attachment_id,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="fileUrl != null" >
        file_url,
      </if>
      <if test="policyId != null" >
        policy_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="attachmentId != null" >
        #{attachmentId,jdbcType=INTEGER},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null" >
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="policyId != null" >
        #{policyId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chuangxian.entity.Attachment" >
    update attachment
    <set >
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null" >
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="policyId != null" >
        policy_id = #{policyId,jdbcType=INTEGER},
      </if>
    </set>
    where attachment_id = #{attachmentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chuangxian.entity.Attachment" >
    update attachment
    set file_name = #{fileName,jdbcType=VARCHAR},
      file_url = #{fileUrl,jdbcType=VARCHAR},
      policy_id = #{policyId,jdbcType=INTEGER}
    where attachment_id = #{attachmentId,jdbcType=INTEGER}
  </update>
</mapper>